dist
node_modules
coverage
/.expressvue
*.sqlite

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace

# Temp files
.npm
.cache

# Package managers
/logs
*.log
npm-debug.log*
/**/npm-debug.log
yarn-error.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock